/* Quiz.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: normal;
    height: 100vh;
    margin: 0;
}

.Quiz {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 90%;
}

.score {
    font-size: 24px;
    margin-bottom: 20px;
}

.question {
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.input-group input {
    font-size: 16px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
}

.input-group button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 1;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.modal-text {
    font-size: 18px;
    margin-bottom: 20px;
}

.modal-button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content {
    display: block;
    flex-direction: column;
    margin-bottom: 20px;
}

.modal-item {
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
}

.modal-item span:first-child {

    align-self: flex-start;
    margin-right: 10px;
    flex-basis: 150px; /* Adjust as needed for alignment */
}

@media (max-width: 600px) {
    .input-group input,
    .input-group button {
        flex: 1 0 100%;
    }
}

/* Shaking animation */
@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}

.shake {
    animation: shake 0.5s ease-in-out; /* Apply the shaking animation */
}

.Congratulations {
    background-color: #4caf50; /* Light Coral */
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px; /* Adjust as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    animation: bounceIn 0.5s ease-in-out forwards;
}

@keyframes bounceIn {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

